<form action='/search' method='get'>
	<div>
		<label for="year">연도</label>
		<select id="year" name="year">
			{{#each year_options}}
				<option value="{{.}}">{{.}}</option>
			{{/each}}
		</select>
	</div>
	
	<div>
		<label for="quarter">분기</label>
		<select id="quarter" name="quarter">
			<option value="1" selected>1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
	</div>
	
	<div>
		<label for="keyword">검색어</label>
		<input type="text" id="keyword" name="keyword" autocomplete="off"/>
	</div>
	
	<div class="button">
		<button type="submit">Search</button>
	</div>
</form>